.vscode
Makefile
bin
obj 
*.make

*.exe
*.so
*.a
.filters
*.swp

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vs

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake

*.log
logs/

# Shader bytecode
*.spv